<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h1 style="text-align: center;">Angular Calendar Example</h1>
    </div>
  </div>
  <div class="row text-center">
    <div class="col-md-6">
      <div class="btn-group" style="float: left;">
        <div class="btn btn-primary" mwlCalendarPreviousView [view]="view" [(viewDate)]="viewDate"
          (viewDateChange)="closeOpenMonthViewDay()" (click)="GetScheduleData()">
          <!-- Previous -->
          <i class="fa fa-solid fa fa-angle-left"></i>
        </div>
        <div class="btn btn-outline-secondary btn-primary" mwlCalendarToday [(viewDate)]="viewDate">
          Today
        </div>
        <div class="btn btn-primary" mwlCalendarNextView [view]="view" [(viewDate)]="viewDate"
          (viewDateChange)="closeOpenMonthViewDay()" (click)="GetScheduleData()">
          <!-- Next -->
          <i class="fa fa-solid fa fa-angle-right"></i>
        </div>
      </div>
      <button class="btn btn-primary" style="margin-left: 5px; float: left;" (click)="toggleWeekView()">Toggle
        Weeks</button>
      <button class="btn btn-primary" style="margin-left: 5px; float: left;" (click)="onChangeLanguage()">
        Change Language
      </button>
    </div>
    <div class="col-md-6" *ngIf="localePrefix === 'en'">
      <h4 style="float: right;">{{ viewDate | calendarDate:(view + 'ViewTitle'):'en' }}</h4>
    </div>
    <div class="col-md-6" *ngIf="localePrefix === 'fr'">
      <h4 style="float: right;">{{ viewDate | calendarDate:(view + 'ViewTitle'):'fr' }}</h4>
    </div>
  </div>

  <br />

  <ng-template #customCellTemplate let-day="day" let-locale="locale">
    <app-calendar-day [day]="day.date | startdate" [locale]="locale"></app-calendar-day>
  </ng-template>

  <div class="row">
    <div class="col-md-12 col-sm-12 col-lg-12 col-xs-12">
      <mwl-calendar-month-view [viewDate]="viewDate" [refresh]="refresh" [cellTemplate]="customCellTemplate"
        [locale]="locale">
      </mwl-calendar-month-view>
    </div>
  </div>
</div>
